<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manufacturing and Fabrication</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/elec_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
      body{
        margin-top: 60px;
        overflow-x: hidden;
      }
      nav{
        padding: 8px 16px;
      }
      .dropdown-item {
   color: #000;
   font-family: "Montserrat", sans-serif;
 }

  .dropdown-item:hover {
  background-color: #5eaaa8;
}
.nav-item {
  font-family: "Lato", sans-serif;
}

.navbar-collapse ul li a {
  font-weight: bold;
  color: #000;
  font-size: 0.9rem;
}

    </style>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
<body class="back-body">
<%- include('navbar.ejs') %>


    <div class="container-fluid header text-center pt-5 pb-5 rounded-bottom-left-2">
        <h1>Manufacturing and Fabrication</h1>
    </div>

    
    <div class="container-fluid text-center service-head pt-5">
        <h1>Our Services</h1>
    </div>

    <div class="arrow bounce">
        <a href="#service"><i class="fa fa-arrow-down fa-2x arrow-a"></i> </a>
    </div>

    <div id="service" class="service">
        <div class="container">
            <div class="row mt-5 d-flex justify-content-center">
             <%  data.forEach(function(e){ %>
              <div class="col-sm m-3 p-3 d-flex justify-content-center">
                <div id="vcard" class="card">
                    <div class="imgbox"> <img src="<%= e.image %>"> </div>
                    <div class="content-c">
                        <h2><%= e.name %></h2>
                    <button class="button-b"><a class="btn-a" href="<%=e.link%>/<%=e._id%>">Submit Requirnment</a></button>
                    <p>Different <%=e.name%> available. Submit request by clicking on the submit botton.</p>
                    </div>
                </div>
            </div>   

             <%  }) %>
            </div>
        </div>
       
     
    </div>
    <%- include("../views/footer.ejs") %>

</body>
</html>
