<div> <b>OrderId:</b>
    <span><%=order._id%></span>
    <span><a class="btn btn-sm btn-primary" href="/customer/order/<%= order._id %>">Status</a></span>
  </div>
<div id="stat">
<span><b>status:</b></span>
<span> <h6 class="ml7"> 
 <span class="text-wrapper">
  <span class="letters"><%= order.status %></span>
 </span>
</h6></span>
</div>

  <p> <b>Phone:</b> <span><%= order.phone %></span></p>

  <p> <b>City:</b> <span><%= order.city %></span></p>

  <p> <b>Pincode:</b> <span><%= order.pincode %></span></p>

  <p> <b>Landmark:</b> <span><%= order.landmark %></span></p>



  <p style="display: flex;flex-direction: column;"> <b>Address:</b> <%= order.address %>
 </p>

 <div>
   <b>Order placed at :</b>
   <span>
     <%= moment(order.createdAt).format('MMM Do YYYY') %>
   </span>
 </div>
 <div style="margin-left: auto;">
  <form action="/cancelOrderRequest" method="POST">
    <input type="hidden" name="id" value="<%=order._id%>">
    <input type="hidden" name="cancelInput" value="requestForCancellation">
    <button type="submit" class="btn btn-sm btn-danger">Cancel Order</button>
  </form>
 </div>